* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* https://lh3.googleusercontent.com/ka_5IYJDRkXZnbptxq64LPuggGL5FM8gnpJlsuSiOQh4b39kMkiRbVfX8iK8bjMg5SLkdfoix09P60wyFjN2=w681-h614 */
  background: url("pexels-lucas-pezeta-3772378.jpg");
  /*   background-color:black; */
  background-size: cover;
  animation: animateBg 50s linear infinite;
}

@keyframes animateBg {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
  animation: animate 3s linear infinite;
}
span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}
span:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0s;
  animation-duration: 1s;
}
span:nth-child(2) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}
span:nth-child(3) {
  top: 80;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}
span:nth-child(4) {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}
span:nth-child(5) {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}
span:nth-child(6) {
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}
span:nth-child(7) {
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.75s;
}
span:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}
span:nth-child(9) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}
span:nth-child(9) {
  top: 0px;
  right: 450px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}

.top {
  padding-top: 1rem;
  position: absolute;
  width: 100%;
}

nav {
  position: relative;
  left: 600px;
  display: inline;
  padding: 1rem;
  width: 80px;
  height: 30px;

  color: #333;
  background-color: rgb(153, 216, 239);
}

nav:hover {
  color: rgb(10, 10, 10);
  background-color: rgb(9, 105, 139);
}

h1 {
  font-size: 3em;
  padding: 1rem;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
  position: relative;
}

.middle {
  position: relative;
  top: 200px;
  width: 100%;
  height: 100px;
}

h2 {
  padding: 1rem;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
  position: relative;
}

.dotted {
  padding: 0.5rem;
  width: 20%;

  border: dotted;
  border-bottom: none;
  border-left: none;
  border-right: none;

  color: rgb(186, 230, 215);
  margin: 100px auto;
  border-top-width: 8px;
}

audio {
  position: absolute;
  left: 80%;
  top: 20%;
  height: 40px;
  opacity: 0.2;
}
audio:hover {
  opacity: 1;
}
audio:active {
  color: aquamarine;
}
