* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

@media screen and (min-width: 100px) and (max-width: 390px) and (orientation: portrait) {
  .galaxy {
    margin-top: 0;
  }
  .navbar {
    height: 180px;
  }

  .navbar-header {
    left: 90px;
  }
  p {
    font-size: 15px;
  }

  .top {
    top: 100px;
  }

  .h21 {
    top: 50px;
  }

  .h22 {
    top: 100px;
  }

  .middle {
    top: 80px;
  }

  audio {
    top: 130px;
    /* margin-top: 163px; */
    right: 0px;
  }

  .ulll {
    position: absolute;
    top: 40px;
    left: 20px;
  }

  section {
    position: absolute;
    top: 180px;
  }
  form {
    float: left;
    display: block;
    position: absolute;
    top: 70px;
    right: 20px;
    left: 180px;
  }
  .form-control {
    float: left;
    display: block;
  }

  .input-group-btn {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 10px;
  }
  button {
    float: left;
    display: block;
    position: relative;
    left: 15px;
    top: 50px;
  }
  .btn {
    top: 0;
  }

  .last {
    top: 280px;
  }
  .dotted {
    top: 150px;
  }
  .para {
    top: 250px;
  }
}

@media screen and (min-width: 390px) and (max-width: 750px) and (orientation: portrait) {
  .galaxy {
    margin-top: 420px;
  }

  p {
    font-size: 15px;
  }

  .h21 {
    top: 100px;
  }

  .h22 {
    top: 200px;
  }

  .top {
    top: 200px;
  }

  .middle {
    top: 200px;
  }

  audio {
    top: 130px;
    /* margin-top: 163px; */
    right: 0px;
    left: 190px;
  }

  .navbar {
    position: absolute;
    display: block;
    float: left;
    height: 200px;
  }
  .navbar-header {
    float: left;
    position: absolute;
    left: 100px;
    display: block;
  }

  .ulll {
    position: absolute;
    top: 60px;
    left: 20px;
  }

  section {
    position: absolute;
    top: 200px;
  }
  form {
    float: left;
    display: block;
    position: absolute;
    top: 70px;
    right: 20px;
    left: 200px;
  }
  .form-control {
    float: left;
    display: block;
  }

  .input-group-btn {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 10px;
  }
  button {
    float: left;
    display: block;
    position: relative;
    left: 15px;
    top: 50px;
  }
  .btn {
    top: 0;
  }

  .last {
    top: 200px;
  }
  .dotted {
    top: 250px;
  }
  .para {
    top: 60px;
  }
}

@media screen and (min-width: 751px) and (max-width: 800px) and (orientation: portrait) {
  .galaxy {
    margin-top: 350px;
  }

  h1 {
    font-size: 50px;
  }

  .h21 {
    top: 100px;
  }

  .h22 {
    top: 300px;
  }

  .dotted {
    top: 350px;
  }

  .last {
    top: 200px;
  }

  .para {
    top: 50px;
  }

  p {
    font-size: 30px;
  }

  form {
    top: 5px;
    left: 620px;
    width: 100px;
  }

  .btn {
    top: 0px;
  }
}

@media screen and (min-width: 801px) and (max-width: 900px) and (orientation: portrait) {
  .galaxy {
    margin-top: 400px;
  }

  h1 {
    font-size: 50px;
  }

  .h21 {
    top: 100px;
  }

  .h22 {
    top: 300px;
  }

  .dotted {
    top: 350px;
  }

  .last {
    top: 200px;
  }

  form {
    top: 5px;
    left: 640px;
  }

  .btn {
    top: 0px;
  }

  audio {
    top: 180px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1000px) and (orientation: portrait) {
  .galaxy {
    margin-top: 400px;
  }

  h1 {
    font-size: 50px;
  }

  .h21 {
    top: 100px;
  }

  .h22 {
    top: 300px;
  }

  .dotted {
    top: 350px;
  }

  .last {
    top: 200px;
  }

  form {
    top: 5px;
    left: 680px;
  }

  .btn {
    top: 0px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1190px) and (orientation: portrait) {
  .galaxy {
    margin-top: 200px;
  }
  .last {
    top: 300px;

    text-align: center;
  }

  h1 {
    font-size: 50px;
  }

  .h21 {
    top: 100px;
  }

  .h22 {
    top: 200px;
  }

  .para {
    top: 200px;
  }
  .dotted {
    top: 300px;
  }

  form {
    top: 3px;
    left: 800px;
  }
  .btn {
    top: 0;
  }

  audio {
    top: 140px;
    left: 800px;
  }

  p {
    font-weight: 200;
    font-style: italic;
    font-size: 35px;
    color: rgb(227, 255, 254);
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 350px) and (max-width: 640px) and (orientation: landscape) {
  p {
    font-size: 10px;
  }
  .navbar {
    height: 100px;
  }
  .form-control {
    left: 250px;
    top: 10px;
  }

  form {
    left: 120px;
  }

  .btn {
    left: 380px;
    top: 10px;
  }

  .h21 {
    top: 20px;
  }
  .h22 {
    top: 50px;
  }

  .dotted {
    top: 90px;
  }
  .para {
    top: 120px;
  }
  .last {
    top: 150px;
  }

  .nav {
    left: 190px;
  }
}

@media screen and (min-width: 660px) and (max-width: 750px) and (orientation: landscape) {
  p {
    font-size: 15px;
  }
  .navbar {
    height: 100px;
  }
  .form-control {
    left: 250px;
    top: 10px;
  }
  .btn {
    left: 380px;
    top: 10px;
  }

  .h21 {
    top: 20px;
  }
  .h22 {
    top: 50px;
  }

  .dotted {
    top: 90px;
  }
  .para {
    top: 120px;
  }
  .last {
    top: 150px;
  }

  .nav {
    left: 190px;
  }
}

@media screen and (min-width: 751px) and (max-width: 920px) and (orientation: landscape) {
  p {
    font-size: 15px;
    display: inline-block;
  }
  .middle {
    font-size: 15px;
    text-align: justify;
    margin: auto;
  }
  .galaxy {
    margin-top: 55px;
    font-size: 15px;
    text-align: center;
  }
  .dotted {
    top: 230px;
  }
  .last {
    top: 170px;
  }
  .para {
    top: 100px;
  }

  form {
    top: 3px;
    left: 650px;
  }
  .btn {
    top: 0;
  }

  .h21 {
    top: 50px;
  }

  .h22 {
    top: 100px;
  }

  audio {
    top: 130px;
    /* margin-top: 163px; */
    right: 0px;
  }
}

@media screen and (min-width: 922px) and (max-width: 1030px) and (orientation: landscape) {
  p {
    font-size: 25px;
    display: inline-block;
  }
  .middle {
    font-size: 15px;
    text-align: justify;
    margin: auto;
  }
  .galaxy {
    margin-top: 210px;
    font-size: 15px;
    text-align: center;
  }
  .dotted {
    top: 230px;
  }
  .last {
    top: 170px;
  }
  .para {
    top: 100px;
  }

  form {
    top: 3px;
    left: 750px;
  }
  .btn {
    top: 0;
  }

  .h21 {
    top: 50px;
  }

  .h22 {
    top: 100px;
  }

  audio {
    top: 130px;
    /* margin-top: 163px; */
    right: 0px;
    left: 800px;
    top: 140px;
  }
}

@media screen and (min-width: 1031px) and (max-width: 1190px) and (orientation: landscape) {
  .galaxy {
    margin-top: 310px;
  }
  .last {
    top: 300px;

    text-align: center;
  }
  .h21 {
    top: 100px;
  }

  .h22 {
    top: 200px;
  }

  .para {
    top: 200px;
  }
  .dotted {
    top: 360px;
  }

  form {
    top: 3px;
    left: 800px;
  }
  .btn {
    top: 0;
  }

  audio {
    top: 140px;
    left: 980px;
  }

  p {
    font-weight: 200;
    font-style: italic;
    font-size: 28px;
    color: rgb(227, 255, 254);
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1192px) and (max-width: 1280px) and (orientation: landscape) {
  .galaxy {
    margin-top: 400px;
  }
  .last {
    top: 300px;

    text-align: center;
  }
  .h21 {
    top: 100px;
  }

  .h22 {
    top: 200px;
  }

  .para {
    top: 200px;
  }
  .dotted {
    top: 360px;
  }

  form {
    top: 3px;
    left: 1052px;
  }
  .btn {
    top: 0;
  }

  audio {
    top: 140px;
    left: 980px;
  }
  p {
    font-weight: 200;
    font-style: italic;

    color: rgb(227, 255, 254);
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1400px) and (orientation: landscape) {
  .galaxy {
    margin-top: 430px;
  }
  .last {
    top: 300px;

    text-align: center;
  }
  .h21 {
    top: 100px;
  }

  .h22 {
    top: 200px;
  }

  .para {
    top: 200px;
  }
  .dotted {
    top: 360px;
  }

  form {
    top: 3px;
    left: 1052px;
  }
  .btn {
    top: 0;
  }

  audio {
    top: 140px;
    left: 980px;
  }
  /* p {
    font-size: 40px;
  } */

  /* h1 {
    font-size: 40px;
  } */
}

@media screen and (min-width: 1401px) and (max-width: 2048px) and (orientation: landscape) {
  .galaxy {
    margin-top: 350px;
  }

  h1 {
    font-size: 40px;
  }

  .h21 {
    top: 100px;
  }

  .h22 {
    top: 200px;
  }

  .para {
    top: 200px;
  }
  .dotted {
    top: 360px;
  }

  .last {
    top: 300px;
  }

  form {
    top: 3px;
    left: 1052px;
  }
  .btn {
    top: 0;
  }

  audio {
    top: 7px;

    float: left;
  }
}

section {
  position: absolute;

  left: 0;
  width: 100%;
  height: 100vh;
  /* https://lh3.googleusercontent.com/ka_5IYJDRkXZnbptxq64LPuggGL5FM8gnpJlsuSiOQh4b39kMkiRbVfX8iK8bjMg5SLkdfoix09P60wyFjN2=w681-h614 */
  background: url("3.jpg");
  /*   background-color:black; */
  background-size: cover;
}
/* animation: animateBg 50s linear infinite;
} */

/* @keyframes animateBg {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
} */

/* span {
  position: absolute;
  font-size: large;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
  animation: animate 3s linear infinite;
} */

span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);

  animation: animate 3s linear infinite;
}
span:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
span:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}
span:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0s;
  animation-duration: 1s;
}
span:nth-child(2) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}
span:nth-child(3) {
  top: 80;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}
span:nth-child(4) {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}
span:nth-child(5) {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}
span:nth-child(6) {
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}
span:nth-child(7) {
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.75s;
}
span:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}
span:nth-child(9) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}
span:nth-child(9) {
  top: 0px;
  right: 450px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}

.top {
  width: 100%;
  position: relative;
}

.middle {
  position: relative;
}

.galaxy {
  display: inline-block;
  background-image: url("wallpaperflare.com_wallpaper\ \(4\).jpg");
  background-size: cover;

  width: 100%;
  height: 100vh;
}

h1 {
  font-weight: 100;
  font-style: italic;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
  position: relative;
  padding-top: 20px;

  padding-bottom: 20px;
}

h2 {
  font-weight: 100;
  font-style: italic;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
  position: relative;
}

.h22 {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;

  text-align: center;
}
.para {
  text-align: center;
}

/* p {
  display: inline-block;
  position: relative;
  letter-spacing: 1px;
} */

.dotted {
  width: 40%;
  position: relative;
  border: dotted;
  border-bottom: none;
  border-left: none;
  border-right: none;
  /* top: 340px; */

  color: rgb(219, 237, 231);
  margin: 0px auto;
  border-top-width: 7px;
}
audio {
  width: 180px;
  opacity: 0.5;
  height: 35px;
  position: absolute;
  overflow: hidden;

  /* margin-top: 163px; */
  right: 0px;
}

nav {
  display: inline-block;
  background-color: black;
  padding-top: 5px;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.navbar-header {
  border: 3px solid rgb(90, 191, 191);

  position: relative;

  width: 200px;
  height: 40px;
}

.navbar-brand {
  display: inline-block;
  position: absolute;
  font-size: larger;
  font-style: normal;
  padding-left: 30px;
  padding-top: 8px;
  color: #fff;
  font-size: 20px;
}

.navbar-brand:hover {
  color: rgb(121, 159, 147);
}

ul {
  display: inline-block;
  position: absolute;
  left: 22%;
  top: 3px;
  height: 40px;

  background-color: black;
}
li {
  display: inline-block;
  position: relative;
  margin-right: 5px;

  font-size: larger;
  font-style: normal;

  background-color: rgb(27, 31, 32);
  border: 3px solid rgb(90, 191, 191);
  border-radius: 20px;

  width: 140px;
  height: 40px;
}
li:hover {
  border-color: #f1ff5c;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
}

a {
  display: inline-block;
  padding-left: 50px;
  padding-top: 8px;
  color: white;
}

form {
  display: inline-block;
  position: absolute;
  width: 100px;
  background-color: black;
}

.form-control {
  position: absolute;
  /* bottom: 5px; */
  display: inline-block;
  width: 160px;
  border: 3px solid rgb(90, 191, 191);
  height: 40px;
  /* top: 5px; */

  background-color: rgb(0, 0, 0);

  border-radius: 40px;
}

.form-control:hover {
  border-color: #f1ff5c;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.input-group {
  width: 100px;
  height: 20px;
}
.input-group-btn {
  position: relative;
  bottom: 2px;
  display: inline-block;
  width: 180px;

  height: 40px;
  left: 0px;
  top: 0px;

  border-radius: 40px;
}

::placeholder {
  color: #ffffff;
  text-align: center;
}

button {
  position: absolute;

  background-color: rgb(0, 0, 0);
  border: 3px solid rgb(90, 191, 191);

  border-radius: 50%;
  right: 0px;
  width: 40px;
  height: 40px;
  left: 120px;
  top: 5px;
}

.glyphicon {
  color: rgb(90, 191, 191);
  font-size: 20px;
}

.active {
  border: none;
  border-radius: 0;
  background-color: black;
  font-size: 20px;
}
.active:hover {
  border: none;

  box-shadow: none;
  transform: none;
  cursor: auto;
  color: rgb(121, 159, 147);
}

.navbar-header {
  border: none;
}
